<div class="owl-carousel owl-theme appear-animate" data-animation-name="fadeIn" data-owl-options="{
						'loop': false,
						'margin': 20,
						'autoHeight': true,
						'autoplay': false,
						'dots': false,
						'items': 2,
						'responsive': {
							'0': {
								'items': 1
							},
							'480': {
								'items': 2
							},
							'576': {
								'items': 3
							},
							'768': {
								'items': 4
							}
						}
					}">
    {% for blog in blogs %}
    <article class="post">
        <div class="post-media">
            <a href="single.html">
                <img src="{{ blog.image.url }}" alt="Post" width="225" height="280">
            </a>
            <div class="post-date">
                <span class="day">{{ blog.day }}</span>
                <span class="month">{{blog.month|date:"M"}}</span>
            </div>
        </div>
        <!-- End .post-media -->

        <div class="post-body">
            <h2 class="post-title">
                <a href="single.html">{{ blog.title }}</a>
            </h2>
            <div class="post-content">
                <p>{{ blog.content }}</p>
            </div>
            <!-- End .post-content -->
            <a href="single.html" class="post-comment">0 Comments</a>
        </div>
        <!-- End .post-body -->
    </article>
    {% endfor %}
    <!-- End .post -->
</div>