<div class="categories-slider owl-carousel owl-theme show-nav-hover nav-outer">
    {% for category in categories %}
    <div class="product-category appear-animate" data-animation-name="fadeInUpShorter">
        <a href="{% url 'shop_with_category' category %}">
            <figure>
                <img src="{{ category.image.url }}" alt="category" width="280" height="240" />
            </figure>
            <div class="category-content">
                <h3>{{ category.name }}</h3>
                <span><mark class="count">{{ category.product_count }}</mark> products</span>
            </div>
        </a>
    </div>
    {% endfor %}
    <!-- <div class="product-category appear-animate" data-animation-name="fadeInUpShorter">
        <a href="category.html">
            <figure>
                <img src="assets/images/demoes/demo4/products/categories/category-2.jpg" alt="category" width="220"
                    height="220" />
            </figure>
            <div class="category-content">
                <h3>Watches</h3>
                <span><mark class="count">3</mark> products</span>
            </div>
        </a>
    </div>

    <div class="product-category appear-animate" data-animation-name="fadeInUpShorter">
        <a href="category.html">
            <figure>
                <img src="assets/images/demoes/demo4/products/categories/category-3.jpg" alt="category" width="220"
                    height="220" />
            </figure>
            <div class="category-content">
                <h3>Machine</h3>
                <span><mark class="count">3</mark> products</span>
            </div>
        </a>
    </div>

    <div class="product-category appear-animate" data-animation-name="fadeInUpShorter">
        <a href="category.html">
            <figure>
                <img src="assets/images/demoes/demo4/products/categories/category-4.jpg" alt="category" width="220"
                    height="220" />
            </figure>
            <div class="category-content">
                <h3>Sofa</h3>
                <span><mark class="count">3</mark> products</span>
            </div>
        </a>
    </div>

    <div class="product-category appear-animate" data-animation-name="fadeInUpShorter">
        <a href="category.html">
            <figure>
                <img src="assets/images/demoes/demo4/products/categories/category-6.jpg" alt="category" width="220"
                    height="220" />
            </figure>
            <div class="category-content">
                <h3>Headphone</h3>
                <span><mark class="count">3</mark> products</span>
            </div>
        </a>
    </div>

    <div class="product-category appear-animate" data-animation-name="fadeInUpShorter">
        <a href="category.html">
            <figure>
                <img src="assets/images/demoes/demo4/products/categories/category-5.jpg" alt="category" width="220"
                    height="220" />
            </figure>
            <div class="category-content">
                <h3>Sports</h3>
                <span><mark class="count">3</mark> products</span>
            </div>
        </a>
    </div> -->
</div>